.textpage {
  overflow-x: visible;
  position: relative;
  width: 1024px;
  height: 100%;
  background-image: url(../../images/textpage/textpage-bg.png);
}

.textpage__container {
  margin: 165px auto 65px 66px;
  width: 80%;
}

.textpage__title {
  width: 185px;
  font-family: 'DIN Pro';
  font-weight: 400;
  font-size: 26.9678px;
  line-height: 33px;
  letter-spacing: 0.07em;
  margin: 0 0 33px;
}

.textpage__textmodal {
  width: 100%;
  scroll-behavior: smooth;
  flex-direction: row;
  overflow: auto;
  direction: rtl;
  border-radius: 39px;
  position: relative;
  z-index: 2;
}

.textpage__textmodal::-webkit-scrollbar {
  width: 20px;
  scroll-behavior: smooth;
}
.textpage__textmodal::-webkit-scrollbar-track {
  background: #000000;
  border: 8px solid transparent;
  background-clip: content-box;
}
.textpage__textmodal::-webkit-scrollbar-thumb {
  background-image: url(../../images/textpage/textpage-scroll.png);
  background-repeat: no-repeat;
  width: 19px;
  height: 99.6px;
}

.textpage__textmodal-container {
  background: #ffffff;
  border-radius: 39px;
  width: 97%;
  height: 445px;
}

.textpage__text {
  margin: 0;
  font-family: 'DIN Pro';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: 0.015em;
  padding: 24px 41px 42px 30px;
  text-align: end;
  background: #ffffff;
  border-radius: 39px;
}

.textpage__span {
  font-weight: 700;
}

.textpage__layer4 {
  background-image: url(../../images/textpage/Layer3copy4.png);
  width: 391px;
  height: 145px;
  top: 70px;
  right: -80px;
  z-index: 1;
}

.textpage__layer4_animated {
  animation: textlayer4 1s ease-in-out forwards;
}

@keyframes textlayer4 {
  0% {
    opacity: 0;
    top: 110px;
    right: -380px;
  }
  100% {
    opacity: 1;
    top: 70px;
    right: -80px;
  }
}

.textpage__layer2 {
  background-image: url(../../images/textpage/Layer3copy2.png);
  width: 793px;
  height: 372px;
  top: 84px;
  right: -345px;
  z-index: 1;
}

.textpage__layer2_animated {
  animation: textlayer2 1s ease-in-out forwards;
}

@keyframes textlayer2 {
  0% {
    opacity: 0;
    top: 134px;
    right: -555px;
  }
  100% {
    opacity: 1;
    top: 84px;
    right: -345px;
  }
}

.textpage__layer6 {
  background-image: url(../../images/textpage/Layer3copy6.png);
  width: 1230px;
  height: 606px;
  left: 321px;
  top: 96px;
  z-index: 1;
}

.textpage__layer6_animated {
  animation: textlayer6 1s ease-in-out forwards;
}

@keyframes textlayer6 {
  0% {
    opacity: 0;
    left: 621px;
    top: 156px;
  }
  100% {
    opacity: 1;
    left: 321px;
    top: 96px;
  }
}

.textpage__layer3 {
  background-image: url(../../images/textpage/Layer3copy3.png);
  width: 648px;
  height: 270px;
  right: -480px;
  bottom: 103px;
  z-index: 1;
}

.textpage__layer3_animated {
  animation: textlayer3 1s ease-in-out forwards;
}

@keyframes textlayer3 {
  0% {
    opacity: 0;
    right: -700px;
    bottom: 50px;
  }
  100% {
    opacity: 1;
    right: -480px;
    bottom: 103px;
  }
}

.textpage__layer5 {
  background-image: url(../../images/textpage/Layer3copy5.png);
  width: 316px;
  height: 123px;
  right: -140px;
  bottom: 126px;
  z-index: 1;
}

.textpage__layer5_animated {
  animation: textlayer5 1s ease-in-out forwards;
}

@keyframes textlayer5 {
  0% {
    opacity: 0;
    right: -240px;
    bottom: 56px;
  }
  100% {
    opacity: 1;
    right: -140px;
    bottom: 126px;
  }
}
