.textpage {
  position: absolute;
  width: 1024px;
  height: 100%;
  margin: 0 0 0 1024px;
  background-image: url(../../images/textpage/textpage-bg.png);
}

.image {
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}